@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.customer-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
  background: #ffffff;
  border-bottom: 1px solid #eef2f6;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 12px;
  cursor: pointer;
  font-family: "Allura", cursive;
  font-weight: 600;
  font-style: normal;
}

.nav-right {
  
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 12px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.welcome-msg {
  font-weight: 400;
}

.nav-center {
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: italic;
}



.nav-link {
  background: transparent;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  color: #0b1b26;
}

.nav-link:hover {
  background: rgb(255, 248, 235);
}

.logout-btn {
  background: linear-gradient(180deg, #f97316, #ef4444, #f97316);
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 780px) {
  .nav-center {
    display: none;
  }
}